[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
pyjwt = "*"
pyopenssl = "*"
mysqlclient = "*"
flask-mail = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
